<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<string>1024</string>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/48.png</string>
		<key>w</key>
		<string>724</string>
	</dict>
	<dict>
		<key>h</key>
		<string>1024</string>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/49.png</string>
		<key>w</key>
		<string>724</string>
	</dict>
	<dict>
		<key>h</key>
		<string>1024</string>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/45.png</string>
		<key>w</key>
		<string>724</string>
	</dict>
	<dict>
		<key>h</key>
		<string>1024</string>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/44.png</string>
		<key>w</key>
		<string>724</string>
	</dict>
	<dict>
		<key>h</key>
		<string>1024</string>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/43.png</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/1.png</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>667</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/2.png</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/3.png</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>626</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/4.png</string>
		<key>w</key>
		<integer>416</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/5.png</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>399</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/6.png</string>
		<key>w</key>
		<integer>295</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/7.png</string>
		<key>w</key>
		<integer>664</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>648</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/8.png</string>
		<key>w</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>860</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/9.png</string>
		<key>w</key>
		<integer>567</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/10.png</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/11.png</string>
		<key>w</key>
		<integer>768</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>700</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/12.png</string>
		<key>w</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>765</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/13.png</string>
		<key>w</key>
		<integer>510</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1526</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/14.png</string>
		<key>w</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/15.png</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1136</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/16.png</string>
		<key>w</key>
		<integer>640</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>754</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/17.png</string>
		<key>w</key>
		<integer>510</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/18.png</string>
		<key>w</key>
		<integer>811</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>600</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/19.png</string>
		<key>w</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>450</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/20.png</string>
		<key>w</key>
		<integer>299</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>986</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/21.png</string>
		<key>w</key>
		<integer>700</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/22.png</string>
		<key>w</key>
		<integer>811</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>830</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/23.png</string>
		<key>w</key>
		<integer>568</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>906</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/24.png</string>
		<key>w</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/25.png</string>
		<key>w</key>
		<integer>814</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/26.png</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1095</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/27.png</string>
		<key>w</key>
		<integer>800</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>996</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/28.png</string>
		<key>w</key>
		<integer>768</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>500</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/29.png</string>
		<key>w</key>
		<integer>436</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/30.png</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1127</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/31.png</string>
		<key>w</key>
		<integer>800</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/32.png</string>
		<key>w</key>
		<integer>718</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1526</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/33.png</string>
		<key>w</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/34.png</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1136</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/35.png</string>
		<key>w</key>
		<integer>640</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/36.png</string>
		<key>w</key>
		<integer>664</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>648</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/37.png</string>
		<key>w</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>860</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/38.png</string>
		<key>w</key>
		<integer>567</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>933</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/39.png</string>
		<key>w</key>
		<integer>700</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1623</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/40.png</string>
		<key>w</key>
		<integer>945</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1600</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/41.png</string>
		<key>w</key>
		<integer>1135</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>file:///Users/chunniunai/Desktop/EZCar/EZCar/car/42.png</string>
		<key>w</key>
		<integer>814</integer>
	</dict>
</array>
</plist>
